################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CIC.API/bin/Debug/net9.0
/CIC.API/obj
/CIC.API/bin/Release/net9.0
